<div ng-controller="pcHotelListController as pcHotelList" ng-init="pcHotelList.init()">
    <!-- title     -->
    <h4 class="ng-binding">{{pcHotelList.list[0].Name[pcHotelList.defaultLangCode]}}</h4>
    <hr>
    <!--loading-->
    <div ng-show="pcHotelList.loading">loading...</div>
    <!--loading-->
    <!--添加门店-->
    <div class="row">
        <div class="col-xs-5">
            <div class="row">
                <div class="button button-light">
                    科室
                </div>
                <!--添加门店-->
                <!--hotel list-->
             </div>
            <div class="row">
                <div>
                    <ul class="list-group">
                        <li ng-repeat="sec in pcHotelList.section" class="list-group-item">
                            {{sec.Name[pcHotelList.defaultLangCode]}}
                            <!--<a ng-click="pcHotelList.showSmallSections(sec.Name[pcHotelList.defaultLangCode],sec.ID)"  class="btn pull-right">分区</a>-->

                            <br>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-6">
            <ui-view></ui-view>
        </div>
    </div>
    <!--hotel list-->
</div>
