<div ng-controller="hosFoodCateAddController as foodCateAdd" ng-init="foodCateAdd.init()" class="modal-dialog modal-sm">
    <div class="modal-content">
        <!-- loading -->
        <!-- form -->
        <form novalidate name="foodCateAddForm" ng-submit="foodCateAddForm.$valid && foodCateAdd.save()">
            <!--header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="foodCateAdd.cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h5 class="modal-title">添加分类</h5>
            </div>
            <!--header end-->
            <!--body-->
            <div class="modal-body">
                <!-- 分类序号 -->
                <div class="form-group">
                    <label>序号</label>
                    <input type="number" name="" required placeholder="（必填）" ng-model="foodCateAdd.Seq" class="form-control">
                </div>
                <!-- 分类序号 -->

                <!-- 分类名称 -->
                <ng-repeat ng-repeat="lang in foodCateAdd.editLangs track by $index">
                    <div class="form-group" ng-if="lang.default==true">
                        <label>分类名称 ({{lang.name}})</label>
                        <input type="text" name="" required placeholder="（必填）" ng-model="foodCateAdd.cateName[lang.code]" class="form-control">
                    </div>
                    <div class="form-group" ng-if="lang.default!==true">
                        <label>分类名称 ({{lang.name}})</label>
                        <input type="text" name="" ng-model="foodCateAdd.cateName[lang.code]" class="form-control">
                    </div>
                </ng-repeat>
                <!-- 分类名称 -->

                <!--图片-->
               <!-- <div class="form-group">
                    <label>图片</label>
                    &lt;!&ndash;图片上传按钮&ndash;&gt;
                    <input id="upload1" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload1"/>
                    <a ng-click="foodCateAdd.clickUpload('upload1')">上传</a>
                    <a id="hidenUpload1" style="display: none;" ng-click="foodCateAdd.imgs1.uploadFile('myFile', foodCateAdd.imgs1)"></a>
                    &lt;!&ndash;/图片上传按钮&ndash;&gt;
                    <div class="row" ng-repeat="img in foodCateAdd.imgs1.data">
                        <div class="col-xs-12">
                            <div class="form-thumbnail ng-scope" style="background-image: url({{img.src}})" alt="{{img.fileName}}">
                                &lt;!&ndash;进度条&ndash;&gt;
                                <div class="progress form-thumbnail-progress" ng-show="!({{img.progress}}==100)" >
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{img.progress}}%"></div>
                                    &lt;!&ndash; -1代表失败 &ndash;&gt;
                                    &lt;!&ndash; 大小： {{img.fileSize}}
                                    剩余： {{img.leftSize}} &ndash;&gt;
                                </div>&lt;!&ndash;/progress&ndash;&gt;
                            </div>&lt;!&ndash;/form-thumbnail&ndash;&gt;
                        </div> &lt;!&ndash;/col-xs-12&ndash;&gt;
                    </div>&lt;!&ndash;/row&ndash;&gt;
                </div>-->
                <!--/图片-->
            </div>
            <!--body end-->
            <!--footer-->
            <div class="modal-footer">
                <!-- 取消 -->
                <button type="button" class="btn btn-default btn-sm" ng-click="foodCateAdd.cancel()">{{'CANCEL' | translate}}</button>
                <!-- 保存 -->
                <button type="submit" class="btn btn-primary  btn-sm" ng-disabled="foodCateAddForm.$invalid || foodCateAdd.saving">
                    <i class="icon ion-ios-checkmark-outline"></i> {{'SAVE' | translate}}
                </button>
            </div>
            <!--footer end-->

        </form>
    </div>
</div>
