<!-- 酒店/客房管理 -->
<div ng-controller="hotelRoomController as hotelRoom" ng-init="hotelRoom.init()" class="container">

	<!-- 左侧菜单 -->
    <div class="nav-left ">
        <ul class="nav nav-stacked nav-left-content">
            <li class="nav-header" ng-repeat="item in hotelRoom.hotels" ui-sref-active="active"  >
            	<a class="theme-hover" ng-click="hotelRoom.getSectionsInfo(item.ID)" ui-sref="app.hotelRoom.Hospital({hotelId:{{item.ID}}})">
            		{{item.Name[hotelRoom.defaultLangCode]}}
            	</a>
                <ul  class="nav-stacked  panel-collapse" ng-if="hotelRoom.idd == item.ID" style="padding:0" >
                    <li ng-repeat="sec in hotelRoom.seclist"  style="list-style: none" id={{sec.ID}} ui-sref-active="active"  ng-click="hotelRoom.changeToSection(item.ID, sec.ID)">
                        <a ng-hide="true"></a>
                        <button class="btn-default" style="width: 100%;border: 0" >{{sec.Name[hotelRoom.defaultLangCode]}}</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div ng-show="hotelRoom.noData">查无数据</div>


    <!-- 右侧 -->
    <ui-view></ui-view>
	
    
    <!-- 主题样式 -->
    

</div>